@charset "UTF-8";

html {
    overflow-y: scroll;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#header {
    padding-bottom: 30px;
}

#content {
    font-family: monospace;
    max-width: 106ch;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ol#codeblock {
    margin-left: 0;
    padding-left: 0;
    overflow: auto;
    list-style: none;
    counter-reset: item;
    font-size: 12px;
}

#codeblock li {
    counter-increment: item;
}

#codeblock li pre {
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
}

#codeblock li pre::before {
    margin-right: 10px;
    padding-right: 4px;
    width: 2em;
    text-align: center;
    display: inline-block;
    color: #888;
    font-size: 12px;
    content: counter(item);
}

ul#reponav {
    list-style-type: none;
    padding-left: 0;
    display: block;
}

#reponav li {
    margin-right: 16px;
    float: left;
}

#reponav a {
    display: block;
}

#repodesc {
    display: inline-block;
}

table td, table th {
    padding-left: 8px;
    padding-right: 8px;
}

table#commits {
    width: 100%;
}

table#commits tr:nth-child(odd) {
    background-color: #fff;
}

table#commits tr:nth-child(even) {
    background-color: #eee;
}

table#repotree {
    width: 100%;
}

table#repotree tr:nth-child(odd) {
    background-color: #fff;
}

table#repotree tr:nth-child(even) {
    background-color: #eee;
}

table#repotree .filename {
    width: 82%;
}

table#repotree .filesize {
    width: 9%:
}

table#repotree .sizeunit {
    width: 11%;
}

tr.toptr td {
    padding-bottom: 4px;
    border-bottom: 1px solid black;
}

#readmeview {
    margin-top: 20px;
}

#diff {
    /*margin-top: 20px;*/
}

.diff_add {
    color: green;
}

.diff_del {
    color: red;
}

.diff_file_hdr {
    /*font-weight: bold;*/
}

.diff_hunk_hdr {
    font-weight: bold;
}

.diff_add::before {
    content: '+ ';
}

.diff_del::before {
    content: '- ';
}

.diff_line::before {
    content: '  ';
}

.diff_hunk_hdr::before {
}

.diff_max {
    font-weight: bold;
    color: red;
    margin-top: 20px;
}

pre.diff_add,
pre.diff_del,
pre.diff_line {
    padding-bottom: 2px;
    padding-top: 2px;
    margin: 0;
}

pre.diff_file_hdr,
pre.diff_hunk_hdr {
    padding-bottom: 4px;
    padding-top: 4px;
    margin: 0;
}

pre.diff_file_hdr {
    color: gray;
}

#filename {
    padding-bottom: 4px;
    border-bottom: 1px solid black;
    width: 100%;
}

#file_size {
    float: right;
}
